<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="container">
    <div class="tableTitle">
      <h3>Income</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Item</th>
              <th>One-Time</th>
              <th>Monthly</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.itemsIncome">
              <td>{{item.name}}</td>
              <td>{{item.once}}</td>
              <td>{{item.monthly}}</td>
              <td>
                <button type="button" class="delete-button btn btn-primary btn-sm" ng-click="$ctrl.deleteItem($ctrl.itemsIncome, item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <form nonvalidate name="$ctrl.formIncome" class="form-inline" ng-submit="$ctrl.addItem($ctrl.itemsIncome, $ctrl.newItemsIncome)">
          <div class="item-name">
            <label for="name"></label>
            <div class="inputs">
              <input id="name" name="name" type="text" class="form-control" placeholder="Item" ng-model="$ctrl.newItemsIncome.name">
            </div>
          </div>

        <div class ="item-name">
          <label for="once"></label>
            <div class="inputs">
              <input id="once" name="once" type="number" class="form-control" placeholder="One-Time" ng-model="$ctrl.newItemsIncome.once" min="0" step="0.01" data-number-to-fixed="2">
            </div>
        </div>

        <div class="item-name">
          <label for="monthly"></label>
            <div class="inputs">
              <input id="monthly" name="monthly" type="number" class="form-control" placeholder="Monthly" ng-model="$ctrl.newItemsIncome.monthly" required minLength="1" min="0" step="0.01" data-number-to-fixed="2">
            </div>
        </div>

          <input class="new-item btn btn-primary btn-sm" type="submit" ng-disabled="$ctrl.formIncome.$invalid" value="New Item">
      </form>

      </div>
    </div>
  </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
    <div class="tableTitle">
      <h3>Expenses</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Item</th>
              <th>One-Time</th>
              <th>Monthly</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.itemsExpense">
              <td>{{item.name}}</td>
              <td>{{item.once}}</td>
              <td>{{item.monthly}}</td>
              <td>
                <button type="button" class="delete-button btn btn-primary btn-sm" ng-click="$ctrl.deleteItem($ctrl.itemsExpense, item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <form nonvalidate name="$ctrl.formExpenses" class="form-inline" ng-submit="$ctrl.addExpense($ctrl.itemsExpense, $ctrl.newItemsExpense)">
          <div class="item-name">
            <label form="name"></label>
              <input id="name" name="name" type="text" class="form-control" placeholder="Item" ng-model="$ctrl.newItemsExpense.name">
          </div>
          <div class="item-name">
            <label for="once"></label>
              <div class="inputs">
                <input id="once" name="once" type="number" class="form-control" placeholder="One-Time" ng-model="$ctrl.newItemsExpense.once" required minlength="1" min="0" step="0.01" data-number-to-fixed="2">
              </div>
          </div>
          <div class="item-name">
            <label for="once"></label>
              <div class="inputs">
                <input id="monthly" name="monthly" type="number" class="form-control" placeholder="Monthly" ng-model="$ctrl.newItemsExpense.monthly" required minlength="1" min="0" step="0.01" data-number-to-fixed="2">
              </div>
          </div>

            <input class="new-item btn btn-primary btn-sm" type="submit" ng-disabled="$ctrl.formExpenses.$invalid" value="New Item">
        </form>
      </div>
    </div>
  </div>
<!-- </div>   -->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
    <div class="tableTitle">
      <h3>Revenue Total</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>One-Time</th>
              <th>Monthly</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{$ctlr.oneTimeRevenue}}</td>
              <td>{{$ctrl.monthlyRevenue}}</td>
              <td>{{$ctrl.totalRevenue}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="tableTitle">
      <h3>Expenses Total</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>One-Time</th>
              <th>Monthly</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{$ctlr.oneTimeExpense}}</td>
              <td>{{$ctrl.monthlyExpenses}}</td>
              <td>{{$ctrl.totalExpenses}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
    <div class="tableTitle">
      <h3>Contributions</h3>
        <table class="table table-hover">
          <tbody>
              <td class="col-sm-3"> Contribution Profit: {{$ctlr.contriubutionProfit}}</td>
              <td class="col-sm-3"> Contriubution Margin: {{$ctrl.contributionMargin}}</td>
              <td class="col-sm-3">Capital ROI (months): {{$ctrl.capitalRoi}}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
