/* You can add global styles to this file, and also import other style files */
body {
	/* background-color: 'red'; */
	background-color: rgba(203, 252, 231, 1);
  font-family: 'NunitoSans', sans-serif;
},

button.delete-button.btn.btn-primary.btn-sm {
  color: 'red';
  background-color: #e2242d !important;
  },

/*.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #e2242d !important;
}*/

input.new-item.btn.btn-primary.btn-sm {
  background-color: 'green';
  font-size: 10px;
}
